<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exam Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/exam.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
            integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="wrapper">
    <div id="main" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"><h1>Hello Exam!</h1></div>
            <div class="panel-body">
                <p>选择您认为合适的题目添加到试卷</p>
            </div>
        </div>
        <div class="bd-example">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">题目类型</th>
                    <th scope="col">知识点</th>
                    <th scope="col">项目</th>
                    <th scope="col">作者</th>
                    <th scope="col">语言</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="list">
                        <select id="typeSelect" class="select">
                            <option>请选择</option>
                            <option th:each="type : ${typeList}" th:value="${type.id}" th:text="${type.name}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="knowledgePointSelect" class="select">
                            <option>请选择</option>
                            <option class="select-option" th:each="knowledgePoint: ${knowledgePointList}"
                                    th:value="${knowledgePoint.id}"
                                    th:text="${knowledgePoint.title}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="projectSelect" class="select">
                            <option>请选择</option>
                            <option th:each="project: ${projectList}" th:value="${project.id}"
                                    th:text="${project.name}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="authorSelect" class="select">
                            <option>请选择</option>
                            <option th:each="author: ${authorList}" th:value="${author.id}"
                                    th:text="${author.username}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="languageSelect" class="select">
                            <option>请选择</option>
                            <option th:each="language: ${languageList}" th:value="${language.id}"
                                    th:text="${language.name}"></option>
                        </select>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="result">
            <table id="result-detail" class="table table-bordered table-striped">
                <caption id="result-info"></caption>
                <thead id="result-head" class="thead-dark"></thead>
                <tbody id="result-body"></tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{detail :: detail-fragment}"></div>
    <div th:replace="~{paper :: paper-fragment}"></div>
</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/exam.js}"></script>
<script th:src="@{/js/canvg2.js}"></script>
<script th:src="@{/js/html2canvas-0.4.1.js}"></script>
<script th:src="@{/js/jspdf.min.js}"></script>
<script type="text/javascript">
    $(function () {
        console.log("output question...");
        $("#output-paper").click(function () {
            var targetDom = $("#paper-body");
            //把需要导出的pdf内容clone一份，这样对它进行转换、微调等操作时才不会影响原来界面
            var copyDom = targetDom.clone();
            //新的div宽高跟原来一样，高度设置成自适应，这样才能完整显示节点中的所有内容（比如说表格滚动条中的内容）
            copyDom.width(targetDom.width() + "px");
            copyDom.height(targetDom.height() + "px");

            $('body').append(copyDom);//ps:这里一定要先把copyDom append到body下，然后再进行后续的glyphicons2canvas处理，不然会导致图标为空

            svg2canvas(copyDom);
            html2canvas(copyDom, {
                onrendered: function (canvas) {
                    var imgData = canvas.toDataURL('image/jpeg');
                    var img = new Image();
                    img.src = imgData;
                    //根据图片的尺寸设置pdf的规格，要在图片加载成功时执行，之所以要*0.225是因为比例问题
                    img.onload = function () {
                        //此处需要注意，pdf横置和竖置两个属性，需要根据宽高的比例来调整，不然会出现显示不完全的问题
                        if (this.width > this.height) {
                            var doc = new jsPDF('l', 'mm', [this.width * 0.225, this.height * 0.225]);
                        } else {
                            var doc = new jsPDF('p', 'mm', [this.width * 0.225, this.height * 0.225]);
                        }
                        doc.addImage(imgData, 'jpeg', 0, 0, this.width * 0.225, this.height * 0.225);
                        //根据下载保存成不同的文件名
                        doc.save('pdf_' + new Date().getTime() + '.pdf');
                    };
                    //删除复制出来的div
                    copyDom.remove();
                },
                background: "#fff", //这里给生成的图片默认背景，不然的话，如果你的html根节点没设置背景的话，会用黑色填充。
                allowTaint: true //避免一些不识别的图片干扰，默认为false，遇到不识别的图片干扰则会停止处理html2canvas
            });
        });
    });

    function svg2canvas(targetElem) {
        var svgElem = targetElem.find('svg');
        svgElem.each(function (index, node) {
            var parentNode = node.parentNode;
            //由于现在的IE不支持直接对svg标签node取内容，所以需要在当前标签外面套一层div，通过外层div的innerHTML属性来获取
            var tempNode = document.createElement('div');
            tempNode.appendChild(node);
            var svg = tempNode.innerHTML;
            var canvas = document.createElement('canvas');
            //转换
            canvg(canvas, svg);
            parentNode.appendChild(canvas);
        });
    }

    function glyphicons2canvas(targetElem, fontClassName, fontFamilyName) {
        var iconElems = targetElem.find('.' + fontClassName);
        iconElems.each(function (index, inconNode) {
            var fontSize = $(inconNode).css("font-size");
            var iconColor = $(inconNode).css("color");
            var styleContent = $(inconNode).attr('style');
            //去掉"px"
            fontSize = fontSize.replace("px", "");
            var charCode = getCharCodeByGlyphiconsName(iconName);
            var myCanvas = document.createElement('canvas');
            //把canva宽高各增加2是为了显示图标完整
            myCanvas.width = parseInt(fontSize) + 2;
            myCanvas.height = parseInt(fontSize) + 2;
            myCanvas.style = styleContent;
            var ctx = myCanvas.getContext('2d');
            //设置绘图内容的颜色
            ctx.fillStyle = iconColor;
            //设置绘图的字体大小以及font-family的名字
            ctx.font = fontSize + 'px ' + fontFamilyName;
            ctx.fillText(String.fromCharCode(charCode), 1, parseInt(fontSize) + 1);
            $(inconNode).replaceWith(myCanvas);
        });
    }

    //根据glyphicons/glyphicon图标的类名获取到对应的char code
    function getCharCodeByGlyphiconsName(iconName) {
        switch (iconName) {
            case("glyphicons-resize-full"):
                return "0xE216";
            case ("glyphicons-chevron-left"):
                return "0xE225";
            default:
                return "";
        }
    }
</script>
</html>