<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exam Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/exam.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="main" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"><h1>Hello Exam!</h1></div>
            <div class="panel-body">
                <p>选择合适的题目添加到试卷</p>
            </div>
        </div>
        <div class="bd-example">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">题目类型</th>
                    <th scope="col">知识点</th>
                    <th scope="col">项目</th>
                    <th scope="col">作者</th>
                    <th scope="col">语言</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="list">
                        <select id="typeSelect" class="select">
                            <option>请选择</option>
                            <option th:each="type : ${typeList}" th:value="${type.id}" th:text="${type.name}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="knowledgePointSelect" class="select">
                            <option>请选择</option>
                            <option class="select-option" th:each="knowledgePoint: ${knowledgePointList}"
                                    th:value="${knowledgePoint.id}"
                                    th:text="${knowledgePoint.title}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="projectSelect" class="select">
                            <option>请选择</option>
                            <option th:each="project: ${projectList}" th:value="${project.id}"
                                    th:text="${project.name}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="authorSelect" class="select">
                            <option>请选择</option>
                            <option th:each="author: ${authorList}" th:value="${author.id}"
                                    th:text="${author.username}"></option>
                        </select>
                    </td>
                    <td class="list">
                        <select id="languageSelect" class="select">
                            <option>请选择</option>
                            <option th:each="language: ${languageList}" th:value="${language.id}"
                                    th:text="${language.name}"></option>
                        </select>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="result">
            <table id="result-detail" class="table table-bordered table-striped">
                <caption id="result-info"></caption>
                <thead id="result-head" class="thead-dark"></thead>
                <tbody id="result-body"></tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{detail :: detail-fragment}"></div>
    <div th:replace="~{paper :: paper-fragment}"></div>
</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/exam.js}"></script>
</html>