<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Paper</title>
</head>
<body>
<div id="paper" th:fragment="paper-fragment">
    <button id="btn-preview" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#displayPaper">
        试卷预览
    </button>
    <div id="displayPaper" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="title">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 id="title" class="modal-title">复旦大学2019年《软件测试与质量保证》期末试卷</h4>
                </div>
                <div id="paper-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <!--<button  type="button" class="btn btn-primary">导出试卷</button>-->
                    <!--<button type="button" class="btn btn-info">导出答案</button>-->
                    <button id="output-paper" type="button" class="btn btn-success">导出试卷&答案</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">结束预览</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>